<div class="gutter-md-up footer-location">
	<div class="row location">			
		<div class="col-12 col-md-6 col-lg-8 float-md-left" style="height:300px;">
			<app-google-map [lat]="34.0677465" [lng]="-117.6103364" [zoom]="12" [markerTitle] = "'Autographics, Incs'"></app-google-map>
		</div>
		<div class="col-12 col-md-6 col-lg-4 float-md-right">
			<div class="phone-number">
				<i class="fa fa-lg fa-phone" aria-hidden="true"></i> <a style="text-decoration:none">(800) 776-6939</a>
			</div>
			<div class="address">											
				<i class="fa fa-lg fa-map-marker" aria-hidden="true"></i>
				<div style="display:inline-block;">
					430 North Vineyard Avenue, Suite 100<br />
					Ontario, CA 91764  <br />
					<a class="get-directions"><small>Get Directions >></small></a>
				</div>
			</div>
			<div class="email">
				<i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:Info@Auto-Graphics.com"> Info@Auto-Graphics.com</a>				
			</div>
			<div class="hours">
				<i class="fa fa-lg fa-clock-o" aria-hidden="true"></i>
				<div style="display:inline-block;"> 
				Monday-Friday: 8 to 5pm Pacific Time<br />
				Saturday-Sunday: Closed<br />
				</div>
			</div>
		</div>	
	</div>
</div>	
<div class="gutter-md-up">
	<!--
	<div class="row sign-up">
		<div class="col-12 col-sm-6 col-md-8">
			<input class="signupInput" placeholder="Enter your email address" />
		</div>
		<div class="col-12 col-sm-6 col-md-4">
			<button class="btn btn-lg btn-outline-secondary">SIGN ME UP!</button>
		</div>
	</div>
	-->
	<div class="row footer-links">
		<div class="col-12 col-md-8">
			<div class="row">
				<div class="col-6 col-sm-4 footpad">
					<h6>LIBRARY INFO</h6>
					<a>FAQs</a>
					<a>Support</a>
					<a>News</a>
					<a>Press Releases</a>
					<a>Jobs</a>
					<a>Terms of Serive</a>
					<a>Policies and Procedures</a>
				</div>
				<div class="col-6 col-sm-4 footpad">
					<h6>LEARN MORE</h6>					
					<a>Referral Program</a>
					<a>Affliate Program</a>
					<a>Reseller Program</a>					
					<a>Become a Volunteer</a>
					<a>Book Sales</a>
					<a>Friends of the Library</a>
					<a>More Ways to Help</a>
				</div>
				<div class="col-12 col-sm-4 followUs">
					<h6>FOLLOW US</h6>
					<a><i class="fa fa-facebook-square"></i></a>
					<a><i class="fa fa-twitter-square"></i></a>
					<a><i class="fa fa-google-plus-official"></i></a>
					<a><i class="fa fa-pinterest"></i></a>
					<a><i class="fa fa-instagram"></i></a>
					<a><i class="fa fa-tumblr"></i></a>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-4 footer-ads">
			<div class="footer-ad btn-block">
				<div class="footer-ad-icon"><i class="fa fa-2x fa-newspaper-o"></i></div>
				<div class="footer-ad-content"> Sign up for Announcements</div>			
			</div>
			<div class="footer-ad btn-block">
				<div class="footer-ad-content-only">Get a Library Card >></div>			
			</div>
		</div>
	</div>
</div>
