.login-contain {
    padding-top:25px;
    padding-bottom:50px;
    /* 
    background-image: url("./assets/images/blur-bg-blurred.jpg");
     */
}
.login {
    text-align:center;
}
.login md-card {
    margin-top:10px;
    margin-bottom:5px;
}

.forgot-pass {
    font-weight: 500;
    color:#3f51b5;
}
.forgot-pass:hover, .forgot-pass:focus {
    color:#3f51b5;
}
.sign-up {
    padding-left:10px;
    padding-right:10px;
    font-weight: 500;
    color: #3f51b5;
}









