<div>
    <div >here is the third third-bag</div>
</div>
<div class="wrapper">
  <div class="container master" [dragula]="'editor-bag'">
    <div class="A Z">A</div>
    <div class="B Z">B</div>
    <div class="C Z">C</div>
    <div class="D Z">D</div>
    <div class="E Z">E</div>
  </div>
  <div class="container" [dragula]="'editor-bag'">
    <div class="A Z">A</div>
  </div> 
  <div class="container" [dragula]="'editor-bag'">
  </div> 
  <div class="container" [dragula]="'editor-bag'">
  </div> 
</div>