<div class="slickCarousel">
  	<div class="slick-item">
  		<img data-lazy="assets/images/jacket_01.jpg">
  		<div class="captions">
  			<div class="slick-title">Title</div>
  			<div class="slick-author">Author</div>
  			<div class="slick-publisher">Publisher</div>
  		</div>
  	</div>
  	<div class="slick-item">
  		<img data-lazy="assets/images/jacket_02.jpg">
  		<div class="captions">
  			<div class="slick-title">Title</div>
  			<div class="slick-author">Author</div>
  			<div class="slick-publisher">Publisher</div>
  		</div>
  	</div>
  	<div class="slick-item">
  		<img data-lazy="assets/images/jacket_03.jpg">
  		<div class="captions">
  			<div class="slick-title">Title</div>
  			<div class="slick-author">Author</div>
  			<div class="slick-publisher">Publisher</div>
  		</div>
  	</div>
  	<div class="slick-item">
  		<img data-lazy="assets/images/jacket_04.jpg">
  		<div class="captions">
  			<div class="slick-title">Title</div>
  			<div class="slick-author">Author</div>
  			<div class="slick-publisher">Publisher</div>
  		</div>
  	</div>
  	<div class="slick-item">
  		<img data-lazy="assets/images/jacket_05.jpg">
  		<div class="captions">
  			<div class="slick-title">Title</div>
  			<div class="slick-author">Author</div>
  			<div class="slick-publisher">Publisher</div>
  		</div>
  	</div>
  	<div class="slick-item">
  		<img data-lazy="assets/images/jacket_06.jpg">
  		<div class="captions">
  			<div class="slick-title">Title</div>
  			<div class="slick-author">Author</div>
  			<div class="slick-publisher">Publisher</div>
  		</div>
  	</div>
  	<div class="slick-item">
  		<img data-lazy="assets/images/jacket_07.jpg">
  		<div class="captions">
  			<div class="slick-title">Title</div>
  			<div class="slick-author">Author</div>
  			<div class="slick-publisher">Publisher</div>
  		</div>
  	</div>
  	<div class="slick-item">
  		<img data-lazy="assets/images/jacket_08.jpg">
  		<div class="captions">
  			<div class="slick-title">Title</div>
  			<div class="slick-author">Author</div>
  			<div class="slick-publisher">Publisher</div>
  		</div>
  	</div>
  	<div class="slick-item">
  		<img data-lazy="assets/images/jacket_09.jpg">
  		<div class="captions">
  			<div class="slick-title">Title</div>
  			<div class="slick-author">Author</div>
  			<div class="slick-publisher">Publisher</div>
  		</div>
  	</div>
  	<div class="slick-item">
  		<img data-lazy="assets/images/jacket_10.jpg">
  		<div class="captions">
  			<div class="slick-title">Title</div>
  			<div class="slick-author">Author</div>
  			<div class="slick-publisher">Publisher</div>
  		</div>
  	</div>
  	<div class="slick-item">
  		<img data-lazy="assets/images/jacket_11.jpg">
  		<div class="captions">
  			<div class="slick-title">Title</div>
  			<div class="slick-author">Author</div>
  			<div class="slick-publisher">Publisher</div>
  		</div>
  	</div>
  	<div class="slick-item">
  		<img data-lazy="assets/images/jacket_12.jpg">
  		<div class="captions">
  			<div class="slick-title">Title</div>
  			<div class="slick-author">Author</div>
  			<div class="slick-publisher">Publisher</div>
  		</div>
  	</div>
</div>