
<div class="login-contain container-fluid" style="background-color:#efefef;">
    <div class="row">
        <div class="col-12 col-sm-2 col-md-3 col-lg-6 col-xl-7">
            
        </div>
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4" style="max-width:400px;">
            <div class="login">
                <md-card>
                    <app-login [loginText]="loginInfo"></app-login>                 
                </md-card>
                <md-card>
                    <md-card-content>
                        <a class="forgot-pass" href="">Forgot your Password?</a> 
                    </md-card-content>
                    <md-card-content>
                        Don't have an account? <a class="sign-up" href="">Sign Up</a>
                    </md-card-content>
                </md-card>
            </div>
        </div>
        <div class="col-12">
            <!-- We could this for any other settings that we may need as a secondary information  -->
        </div>
    </div>
</div>






