    <ul class="explore-list grid-10-8-6-4-2 clearfix">
        <li class="explore-item">
              <a class="explore-image-overlay" title="Acsenda - School of Management - Vancouver">
                <i class="explore-icon-overlay fa fa-plus-circle" aria-hidden="true"></i>
                <img class="explore-item-img" src="assets/images/grid-1.png" />
              </a>
        </li>
        <li class="explore-item">
              <a class="explore-image-overlay" title="Alexander College">
                <i class="explore-icon-overlay fa fa-plus-circle" aria-hidden="true"></i>
                <img class="explore-item-img" src="assets/images/grid-2.png" />
              </a>
        </li>
        <li class="explore-item">
              <a class="explore-image-overlay" title="British Columbia Institute of Technology">
                <i class="explore-icon-overlay fa fa-plus-circle" aria-hidden="true"></i>
                <img class="explore-item-img" src="assets/images/grid-3.png" />
              </a>
        </li>
        <li class="explore-item">
              <a class="explore-image-overlay" title="Camosun">
                <i class="explore-icon-overlay fa fa-plus-circle" aria-hidden="true"></i>
                <img class="explore-item-img" src="assets/images/grid-4.png" />
              </a>
        </li>
        <li class="explore-item">
              <a class="explore-image-overlay" title="Capilano University">
                <i class="explore-icon-overlay fa fa-plus-circle" aria-hidden="true"></i>
                <img class="explore-item-img" src="assets/images/grid-5.png" />
              </a>
        </li>
        <li class="explore-item">
              <a class="explore-image-overlay" title="College of New Caledonia">
                <i class="explore-icon-overlay fa fa-plus-circle" aria-hidden="true"></i>
                <img class="explore-item-img" src="assets/images/grid-6.png" />
              </a>
        </li>
        <li class="explore-item">
              <a class="explore-image-overlay" title="College of the Rockies">
                <i class="explore-icon-overlay fa fa-plus-circle" aria-hidden="true"></i>
                <img class="explore-item-img" src="assets/images/grid-7.png" />
              </a>
        </li>
        <li class="explore-item">
              <a class="explore-image-overlay" title="Columbia Bible College">
                <i class="explore-icon-overlay fa fa-plus-circle" aria-hidden="true"></i>
                <img class="explore-item-img" src="assets/images/grid-8.png" />
              </a>
        </li>
        <li class="explore-item">
              <a class="explore-image-overlay" title="Columbia College - Vancouver, Canada">
                <i class="explore-icon-overlay fa fa-plus-circle" aria-hidden="true"></i>
                <img class="explore-item-img" src="assets/images/grid-9.png" />
              </a>
        </li>
        <li class="explore-item">
              <a class="explore-image-overlay" title="Douglas College">
                <i class="explore-icon-overlay fa fa-plus-circle" aria-hidden="true"></i>
                <img class="explore-item-img" src="assets/images/grid-10.png" />
              </a>
        </li>
        <li class="explore-item">
              <a class="explore-image-overlay" title="Emily Carr University">
                <i class="explore-icon-overlay fa fa-plus-circle" aria-hidden="true"></i>
                <img class="explore-item-img" src="assets/images/grid-11.png" />
              </a>
        </li>
        <li class="explore-item">
              <a class="explore-image-overlay" title="Justice Institute of British Columbia">
                <i class="explore-icon-overlay fa fa-plus-circle" aria-hidden="true"></i>
                <img class="explore-item-img" src="assets/images/grid-12.png" />
              </a>
        </li>
        <li class="explore-item">
              <a class="explore-image-overlay" title="Kwantlen Polytechnic University">
                <i class="explore-icon-overlay fa fa-plus-circle" aria-hidden="true"></i>
                <img class="explore-item-img" src="assets/images/grid-13.png" />
              </a>
        </li>
        <li class="explore-item">
              <a class="explore-image-overlay" title="Langara - The College of Higher Learning">
                <i class="explore-icon-overlay fa fa-plus-circle" aria-hidden="true"></i>
                <img class="explore-item-img" src="assets/images/grid-14.jpg" />
              </a>
        </li>
        <li class="explore-item">
              <a class="explore-image-overlay" title="NVIT">
                <i class="explore-icon-overlay fa fa-plus-circle" aria-hidden="true"></i>
                <img class="explore-item-img" src="assets/images/grid-15.png" />
              </a>
        </li>
        <li class="explore-item">
              <a class="explore-image-overlay" title="North Island College">
                <i class="explore-icon-overlay fa fa-plus-circle" aria-hidden="true"></i>
                <img class="explore-item-img" src="assets/images/grid-16.png" />
              </a>
        </li>
        <li class="explore-item">
              <a class="explore-image-overlay" title="Northern Lights College">
                <i class="explore-icon-overlay fa fa-plus-circle" aria-hidden="true"></i>
                <img class="explore-item-img" src="assets/images/grid-17.png" />
              </a>
        </li>
        <li class="explore-item">
              <a class="explore-image-overlay" title="Northwest Community College">
                <i class="explore-icon-overlay fa fa-plus-circle" aria-hidden="true"></i>
                <img class="explore-item-img" src="assets/images/grid-18.png" />
              </a>
        </li>
        <li class="explore-item">
              <a class="explore-image-overlay" title="Okanagan College">
                <i class="explore-icon-overlay fa fa-plus-circle" aria-hidden="true"></i>
                <img class="explore-item-img" src="assets/images/grid-19.png" />
              </a>
        </li>
        <li class="explore-item">
              <a class="explore-image-overlay" title="Quest University, Canada">
                <i class="explore-icon-overlay fa fa-plus-circle" aria-hidden="true"></i>
                <img class="explore-item-img" src="assets/images/grid-20.png" />
              </a>
        </li>
        <li class="explore-item">
              <a class="explore-image-overlay" title="Royal Roads University">
                <i class="explore-icon-overlay fa fa-plus-circle" aria-hidden="true"></i>
                <img class="explore-item-img" src="assets/images/grid-21.png" />
              </a>
        </li>
        <li class="explore-item">
              <a class="explore-image-overlay" title="Selkirk College">
                <i class="explore-icon-overlay fa fa-plus-circle" aria-hidden="true"></i>
                <img class="explore-item-img" src="assets/images/grid-22.png" />
              </a>
        </li>
        <li class="explore-item">
              <a class="explore-image-overlay" title="SFU">
                <i class="explore-icon-overlay fa fa-plus-circle" aria-hidden="true"></i>
                <img class="explore-item-img" src="assets/images/grid-23.png" />
              </a>
        </li>
        <li class="explore-item">
              <a class="explore-image-overlay" title="Thompon Rivers University">
                <i class="explore-icon-overlay fa fa-plus-circle" aria-hidden="true"></i>
                <img class="explore-item-img" src="assets/images/grid-24.png" />
              </a>
        </li>
        <li class="explore-item">
              <a class="explore-image-overlay" title="Trinity Western University">
                <i class="explore-icon-overlay fa fa-plus-circle" aria-hidden="true"></i>
                <img class="explore-item-img" src="assets/images/grid-25.png" />
              </a>
        </li>
        <li class="explore-item">
              <a class="explore-image-overlay" title="University Canada West">
                <i class="explore-icon-overlay fa fa-plus-circle" aria-hidden="true"></i>
                <img class="explore-item-img" src="assets/images/grid-26.png" />
              </a>
        </li>
        <li class="explore-item">
              <a class="explore-image-overlay" title="UBC">
                <i class="explore-icon-overlay fa fa-plus-circle" aria-hidden="true"></i>
                <img class="explore-item-img" src="assets/images/grid-27.png" />
              </a>
        </li>
        <li class="explore-item">
              <a class="explore-image-overlay" title="UNBC">
                <i class="explore-icon-overlay fa fa-plus-circle" aria-hidden="true"></i>
                <img class="explore-item-img" src="assets/images/grid-28.png" />
              </a>
        </li>
        <li class="explore-item">
              <a class="explore-image-overlay" title="University of the Frase Valley">
                <i class="explore-icon-overlay fa fa-plus-circle" aria-hidden="true"></i>
                <img class="explore-item-img" src="assets/images/grid-29.png" />
              </a>
        </li>
        <li class="explore-item">
              <a class="explore-image-overlay" title="University of Victoria">
                <i class="explore-icon-overlay fa fa-plus-circle" aria-hidden="true"></i>
                <img class="explore-item-img" src="assets/images/grid-30.png" />
              </a>
        </li>
        <li class="explore-item">
              <a class="explore-image-overlay" title="Vancouver Community College">
                <i class="explore-icon-overlay fa fa-plus-circle" aria-hidden="true"></i>
                <img class="explore-item-img" src="assets/images/grid-31.png" />
              </a>
        </li>
        <li class="explore-item">
              <a class="explore-image-overlay" title="Vancouver Island University">
                <i class="explore-icon-overlay fa fa-plus-circle" aria-hidden="true"></i>
                <img class="explore-item-img" src="assets/images/grid-32.png" />
              </a>
        </li>
        <li class="explore-item">
              <a class="explore-image-overlay" title="Yukon College">
                <i class="explore-icon-overlay fa fa-plus-circle" aria-hidden="true"></i>
                <img class="explore-item-img" src="assets/images/grid-33.png" />
              </a>
        </li>    
      </ul>
