<div class="container-fluid" style="margin-top:25px; margin-bottom:25px;">
    <div class="row">
        <div class="baseCbanner col-12">
            <ba-carousel></ba-carousel>
        </div>
          <div class="baseCrow col-12">
            <div class="container-fluid" style="margin-top:25px; margin-bottom:25px;">
              <div class="row">                
                  <div class="col-12 col-md-8 col-lg-9 col-xl-10">
                        <h4>New Releases</h4>
                        <app-slick-carousel></app-slick-carousel>
                        <h4>New DVDs</h4>
                        <app-slick-carousel></app-slick-carousel>
                  </div>
                  <div class="col-12 col-md-4 col-lg-3 col-xl-2" style="padding-left:30px;">
                      <Topic-Search [TopicSearch]="SearchTopic" [rowClass]="false"></Topic-Search>
                  </div>
              </div>
        </div>
    </div>
</div>
