
.topic-search {
    list-style: none;
    padding:2px 2px 2px 2px;
    
}
.topic-search li {
    cursor:pointer;
    padding: .5em 10px .5em 7px;
    margin:3px 2px;
}
.topic-search li:hover, .topic-search li:focus {
    background:#565656 !important;
}
.topic-search i {
    font-size: 0.5em;
    vertical-align: top;
    margin-top: 0.5em;
    margin-right:0.75em;
}
.topic-search a {
    font-weight:600; 
}
  
.topic-search.per-row {

}
.topic-search .badge-pill {
    background:#676767;
}



@media screen and (min-width: 768px) {
    h5 {
        padding-left:25px;
    }
    .topic-search {
        list-style: none;
        padding:2px;
    }
    .topic-search.per-row {
        padding:5px;
        width:90%; 
    }
    .topic-search.per-row .badge-pill {
        display:block;
        padding:0.5em;
        margin:2px; 
        border-radius:2px;
        font-weight:400;   
        text-align:left;         
    }
}
@media screen and (min-width: 1200px) {
    .topic-search.per-row {
        padding:5px;
        width:95%;
        /*font-size:1.5em;*/ 
    }
}