
#search-overlay {
    z-index: 1100;
    background: rgba(250,250,250,.95);
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    left: 0;
    top: 0;
    color: #999;
}
/*   moved to header
.search-icon-input {
	display: inline-block;
    vertical-align: top;
	margin:15px 10px 15px 10px;
	border-left:2px solid #ccc;
	padding:12px 10px 12px 5px;
	font-size:1em;
	color:#3b4751;
    cursor:pointer;
    display:none;
}
.search-icon-input:hover, .search-icon-input:focus {
	background:#efefef;
	color:#333;
}
*/
.search-icon {
	padding:20px 25px;
}
.search-icon i, .ham-menu i {
	cursor:pointer;
	/*
	color:#3f51b5;
	*/	
}

.search-overlay .inner {
    position: relative;
    width: 100vw;
    padding: 0 0px 0 30px;
}
.search-overlay .overlay {
    position: relative;
    width: 100vw;
    padding: 0 0 0 25px;
}
.search-overlay .title {
    display: inline-block;
    font-weight: 100;
    vertical-align: middle;
    margin: 18px 0 0;
    color: #333;
    font-size: 0.85em;
    font-weight:bold;
    max-width:200px;
}
.search-overlay .exit {
    display: block;
    height: 30px;
    width: 60px;
    margin-top: 15px;
    float: right;
    color:#333 !important;
    cursor: pointer;
}
.search-overlay .exit i {
    font-size:1.5em;
}
.overlay-search {
    font-weight: 700;
    font-size: 2.5em;
    height: 50px;
    letter-spacing: -1.925px;
    line-height: 100px;
    width: 90%;
    padding-left: 0!important;
    border: none!important;
    background-color: transparent!important;
}
.overlay-IndexResource {
    padding:0 0 0 30px;
}
.overlay-index {
    background:none !important;
    border:none !important;
    color:#999;
    cursor:pointer;
}
.overlay-index option {
    background:none !important;
    border:2px solid #999;
}
.overlay-index select {
    background:none !important;
    border:none !important;
    color:#999;
    cursor:pointer;
    width:150px;
}
.overlay-index select option {
    background:none !important;
    border:2px solid #999;
}

.overlay-resource{
    cursor:pointer;
}
.overlay-suggestions {
    padding: 10px 0 0 30px;
    font-size:0.85em;
}
.suggest-phrase {
    text-decoration: none;
}
.suggest-list {
    list-style: none;
}

@media screen and (min-width: 576px) {
    .search-overlay .inner {
        padding: 0 60px 0 80px;
    }
    .search-overlay .overlay {
        position: relative;
        width: 100vw;
        padding: 0 0 0 75px;
    }
    .search-overlay .title {
        display: inline-block;
        font-weight: 100;
        vertical-align: middle;
        margin: 18px 0 0;
        color: #333;
        font-size: 1.5em;
        font-weight:bold;
        max-width:initial;
    }
    .search-overlay .exit {
        display: block;
        height: 30px;
        width: 60px;
        margin-top: 15px;
        float: right;
        color:#333 !important;
        cursor: pointer;
    }
    .search-overlay .exit i {
        font-size:2.5em;
    }
    .overlay-search {
        font-weight: 700;
        font-size: 77px;
        height: 100px;
        letter-spacing: -1.925px;
        line-height: 100px;
        width: 100%;
        padding-left: 0!important;
        border: none!important;
        background-color: transparent!important;
    }
    .overlay-IndexResource {
        padding:0 0 0 80px;
    }
    .overlay-index {
        background:none !important;
        border:none !important;
        color:#999;
        cursor:pointer;
    }
    .overlay-index option {
        background:none !important;
        border:2px solid #999;
    }
    .overlay-resource{
        cursor:pointer;
    }
    .overlay-suggestions {
        padding: 10px 0 0 100px;
        font-size:0.85em;
    }
    .suggest-phrase {
        text-decoration: none;
    }
    .suggest-list {
        list-style: none;
    }
}
.overlay-search:focus{
    outline: none;
} 


@media screen and (min-width: 767px) {
    .search-icon-input {
        display: inline-block;
    }
}

