<div class="container-fluid" style="margin-top:25px; margin-bottom:25px;">
    <div class="row">


        <div class="baseEbanner col-12">
            <img src="assets/images/accesspa_banner.jpg" />
        </div>

          <div class="baseE3cols col-12">
            <div class="container-fluid">
              <div class="row">
                <div class="image-box col-6 col-md-4">
                      <img src="assets/images/c2a0b39f-ec62-48f1-acab-6405b713777d.jpg" />
                </div>
                 <div class="image-box col-6 col-md-4">
                      <img src="assets/images/a5d0703d-9f07-4565-9b81-67a93fb045a1.jpg" />
                </div>
                <div class="image-box col-6 col-md-4">
                      <img src="assets/images/b4e0a530-c58c-4f76-b74b-c216f0ebeeb5.jpg" />
                </div>
                
                <div class="image-box col-6 col-md-4">
                      <img src="assets/images/7793d553-2c30-4df0-ad21-ff9dfccd3d19.jpg" />
                 </div>
                <div class="image-box col-6 col-md-4">
                      <img src="assets/images/dea09abb-6d8f-4722-b4d1-00c305731317.jpg" />
                </div>
                <div class="image-box col-6 col-md-4">
                      <img src="assets/images/e63cef56-6882-458b-a75e-2ddfdce05459.jpg" />
                </div>
              </div>
            </div>
          </div>



          <!-- 2 Links --><br /><br />
          <div class="two-links container-fluid">
              <div class="row">
                  <div class="link-one col-12 col-md-6">
                      <div class="border-line">
                          <h3>Shel Silverstein</h3>
                          <p>Coming this upcoming month from the 22nd through the 25nd. His ghost will participant in suspensful occupations.
                          </p>
                          <button class="btn btn-outline">Buy Tickets Now!</button>
                      </div>
                  </div>
                  <div class="link-2 col-12 col-md-6">
                      <div class="border-line">
                          <h3>Bring your Kids</h3>
                          <p>We offer Kids Catalog to brind children to find a book that suits there interest, their Reading Level, along with Video and Audio resources.
                          </p>
                          <button class="btn btn-outline">View Our Kids Catalog</button>
                      </div>
                  </div>
              </div>
          </div>
    </div>
</div>
