

.staff-card {
    margin:15px 0px;
}

.staff-list {
    padding:0px;
}
.staff-list li {
    list-style: none;
    padding-left:20px;
}
.staff-list div{
    padding-left: 30px;
}

.staff-sublist li {
    padding-left:20px;
}

.staff-card > h6 {
    padding:10px;
}
