<div class="container-fluid" style="margin-top:25px; margin-bottom:25px;">
    <div class="row">
        <div class="baseDbanner col-12">
            <img src="assets/images/accesspa_banner.jpg" />
        </div>
          <div class="baseDrow col-12">
            <div class="container-fluid" style="margin-top:25px; margin-bottom:25px;">
              <div class="row">
                  <div class="baseDshowcase col-12 col-md-6">
                      <h4>New Releases</h4>
                        <app-slick-carousel></app-slick-carousel>
                      <h4>New DVDs</h4>
                      <app-slick-carousel></app-slick-carousel>
                  </div>
                  <div class="baseDshowcase col-12 col-md-6">
                        <h4>New eBooks</h4>
                        <app-slick-carousel></app-slick-carousel>
                        <h4>Baking up a Storm!</h4>
                        <app-slick-carousel></app-slick-carousel>
                  </div>
              </div>
        </div>
    </div>
</div>
