<div class="container-fluid" style="margin-top:25px; margin-bottom:25px;">
    <div class="row">
        <div class="baseAbanner col-12">
            <img src="assets/images/395ce309-62fc-44a9-8659-7713c40a4f15.jpg" />
        </div>
        <div class="col-12 col-sm-4">
            <app-login></app-login>
            <img src="assets/images/6dca7af6-b0d4-46f8-b936-226562079ad9.jpg" />
        </div>
        <div class="col-12 col-sm-4">
            
        </div>
        <div class="col-12 col-sm-4">
            
        </div>
    </div>
</div>