<div class="container-fluid" style="margin-top:25px; margin-bottom:25px;">
    <div class="row">
        <div class="box-images col-12 col-md-4">
          <div class="image-box">
            <img src="assets/images/7793d553-2c30-4df0-ad21-ff9dfccd3d19.jpg" />
          </div>
          <div class="image-box">
            <img src="assets/images/c2a0b39f-ec62-48f1-acab-6405b713777d.jpg" />
          </div>
          <div class="image-box">
            <img src="assets/images/a5d0703d-9f07-4565-9b81-67a93fb045a1.jpg" />
          </div>
          <div class="image-box">
            <img src="assets/images/b4e0a530-c58c-4f76-b74b-c216f0ebeeb5.jpg" />
          </div>          
        </div>
        <div class="showcases col-12 col-md-8">
          <h4>New Releases</h4>
          <app-slick-carousel></app-slick-carousel>
          <h4>New DVDs</h4>
          <app-slick-carousel></app-slick-carousel>
          <h4>New eBooks</h4>
          <app-slick-carousel></app-slick-carousel>
        </div>
    </div>
</div>




