.itemsOut-span {
    display:inline-block;
}
.summary-card {
    padding: 10px 5px;
}
.summary-info {
    width: calc(100% - 200px);
    display:inline-block;
    padding-left:10px;
    vertical-align:middle;
}
.detail-toggle {
    width: 40px;
    display:inline-block;
    color:grey;
}
.detail-card{
    padding:10px 10px 25px 10px;
    text-align:center;
}
.detail-list {
    list-style:none;
    text-align:left;
}
.item-card {
    margin-top:5px;
    margin-bottom:5px;
}