<div class="container-fluid" style="margin-top:25px; margin-bottom:25px;">
    <div class="row">
        <div class="baseFbanner col-12">
            <ba-carousel></ba-carousel>
        </div>
        <div class="baseF3col col-12" style="margin-top:40px; margin-bottom:25px;">
          <div class="container-fluid" >
              <div class="row">
                <div class="col-12 col-sm-4"><img src="assets/images/a5d0703d-9f07-4565-9b81-67a93fb045a1.jpg" /></div>
                <div class="col-12 col-sm-4"><img src="assets/images/7793d553-2c30-4df0-ad21-ff9dfccd3d19.jpg" /></div>
                <div class="col-12 col-sm-4"><img src="assets/images/c2a0b39f-ec62-48f1-acab-6405b713777d.jpg" /></div>
              </div>
          </div>
        </div>
        <div class="baseF4col col-12">
          <div class="container-fluid" >
              <div class="row">
                <!-- Bootstrap Grid layout.
                <div class="col-6 col-sm-3"><img src="assets/images/dea09abb-6d8f-4722-b4d1-00c305731317.jpg" /></div>
                <div class="col-6 col-sm-3"><img src="assets/images/b4e0a530-c58c-4f76-b74b-c216f0ebeeb5.jpg" /></div>
                <div class="col-6 col-sm-3"><img src="assets/images/e63cef56-6882-458b-a75e-2ddfdce05459.jpg" /></div>
                <div class="col-6 col-sm-3"><img src="assets/images/51a0d92f-ad3d-40b6-9b7b-b258d284948a.jpg" /></div>
                -->
                <!-- 4 Links --> <br /><br />
                <div class="four-links container-fluid">
                    <div class="row">
                        <div class="first-link col-12 col-sm-6 col-lg-3">
                            <div class="border-line">
                                <h3>Booksale 3rd Saturday of every Month. Be there. Square.</h3>
                                <button class="btn btn-outline">Donate Books</button>
                            </div>
                        </div>
                        <div class="second-link col-12 col-sm-6 col-lg-3">
                            <div class="border-line">
                                <h3>Our programs offer includes Tutors for class levels K-12.</h3>
                                <button class="btn btn-outline">Enroll Now</button>
                            </div>
                        </div>
                        <div class="third-link col-12 col-sm-6 col-lg-3">
                            <div class="border-line">
                                <h3>Get together to reserve a room for your group colaborations.</h3>
                                <button class="btn btn-outline">Book a Room</button>
                            </div>
                        </div>
                        <div class="fourth-link col-12 col-sm-6 col-lg-3">
                            <div class="border-line">
                                <h3>Place Holds on DVD's and pick them up before you go home.</h3>
                                <button class="btn btn-outline">View Kid DVDs</button>
                            </div>
                        </div>
                    </div>
                </div> <!-- End - 4 Links -->


              </div>
          </div>
        </div>
        <div class="col-12">
          <div class="container-fluid" >
              <div class="row">      
                <div class="col-12" style="margin-top:25px; margin-bottom:25px;">
                  <h4>New Releases</h4>
                  <app-slick-carousel></app-slick-carousel>
                </div>
                <div class="col-12">
                    <Topic-Search [TopicSearch]="SearchTopic" [rowClass]="false"></Topic-Search>
                </div>
              </div>
          </div>
        </div>
    </div>
</div>
