
<!-- mobile - < 575px -->
<div class="col-12 d-sm-none clearfix">
      <div class="record-author">Suanne Collins</div>
      <h1 class="record-title">The Hunger Games, Mockingjay, Part 1</h1>
      <div class="record-publisher-date">Scholastic Press, 2010</div>
      <div class="record-isbn">ISBN-13: 978-0545663267, ISBN-10: 0545663261</div>
      <div class="record-ratings"><ba-rating></ba-rating></div>
      <div class="record-image">
            <img src="assets/images/jacket_01.jpg" />
      </div>
      <div class="record-available">Availability: 32 (of 72)</div>
      <div class="record-holds">Current Holds: 0</div>
      <div class="record-desc">
            Against all odds, Katniss Everdeen has survived the Hunger Games twice. But now that she's made it out of the bloody arena alive, she's still not safe. The Capitol wants revenge ... and President Snow has made it clear that no one else is safe!
      </div>
      <div class="record-buttons">
            <button class="btn btn-primary">Request this Item</button>
            <button class="btn btn-outline-primary">Add to Your List</button>
      </div>
      <div class="record-share">
            <i class="fa fa-share-alt" aria-hidden="true"></i> Share:
            <ul class="record-social-list">
                  <li><i class="fa fa-facebook-square" aria-hidden="true" mdTooltip="Facebook" mdTooltipPosition="above"></i></li>
                  <li><i class="fa fa-twitter-square" aria-hidden="true" mdTooltip="Twitter" mdTooltipPosition="above"></i></li> 
                  <li><i class="fa fa-linkedin-square" aria-hidden="true" mdTooltip="Linked In" mdTooltipPosition="above"></i></li> 
                  <li><i class="fa fa-google-plus-square" aria-hidden="true" mdTooltip="Google +" mdTooltipPosition="above"></i></li>       
            </ul>
      </div>   
</div>


<!-- Breadcrumb - tablet and desktop -->
<div class="dropdown-container container-fluid d-none d-sm-block">
      <span class="bread-home"><i class="fa fa-home" aria-hidden="true"></i></span>
      <span class="bread-crumb-tier"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
      <span class="bread-crumb"><i class="fa fa-search" aria-hidden="true"></i> Hunger Games</span>
      <span class="bread-crumb-tier"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
      <span class="bread-crumb-trail"><i class="fa fa-book" aria-hidden="true"></i> Mocking Jay</span>
</div>




<!-- tablet - 576px to (991px or 1199px) -->
<div class="container-fluid d-none d-sm-block d-lg-none clearfix">    
      <div class="record-image clearfix">
             <img src="assets/images/jacket_01.jpg" style="max-width: 150px;box-shadow: 0px 5px 8px #999;" />
             <div class="record-buttons">
                  <button class="btn btn-primary">Request this Item</button>
                  <button class="btn btn-outline-primary">Add to Your List</button>
            </div>
      </div>
      <div class="record-content clearfix">
            <div class="record-author">Suanne Collins</div>
            <h1 class="record-title">The Hunger Games, Mockingjay, Part 1</h1>
            <div class="record-publisher-date">Scholastic Press, 2010</div>
            <div class="record-isbn">ISBN-13: 978-0545663267, ISBN-10: 0545663261</div>
            <div class="record-ratings"><ba-rating></ba-rating></div>
            <div class="record-available">Availability: 32 (of 72)</div>
            <div class="record-holds">Current Holds: 0</div>
            <div class="record-desc">
                  Against all odds, Katniss Everdeen has survived the Hunger Games twice. But now that she's made it out of the bloody arena alive, she's still not safe. The Capitol wants revenge ... and President Snow has made it clear that no one else is safe!
            </div>
            <div class="record-share clearfix">
                  <span class="share-desc"><i class="fa fa-share-alt" aria-hidden="true"></i> Share:</span>                 
                  <ul class="record-social-list">
                        <li><i class="fa fa-facebook-square" aria-hidden="true" mdTooltip="Facebook" mdTooltipPosition="above"></i></li>
                        <li><i class="fa fa-twitter-square" aria-hidden="true" mdTooltip="Twitter" mdTooltipPosition="above"></i></li> 
                        <li><i class="fa fa-linkedin-square" aria-hidden="true" mdTooltip="Linked In" mdTooltipPosition="above"></i></li> 
                        <li><i class="fa fa-google-plus-square" aria-hidden="true" mdTooltip="Google +" mdTooltipPosition="above"></i></li>       
                  </ul>
            </div>  
      </div>
</div>

<!-- desktop - 992px or 1200px -->
<div class="container-fluid d-none d-lg-block clearfix"> 
      <div class="row">
      <!-- JSON details -->
            <div class="record-image clearfix">
                  <img src="assets/images/jacket_01.jpg" style="max-width: 150px;box-shadow: 0px 5px 8px #999;" />
            </div>

          <div class="record-summary">
                  <div class="record-author">Suanne Collins</div>
                  <h1 class="record-title">The Hunger Games, Mockingjay, Part 1</h1>
                  <div class="record-publisher-date">Scholastic Press, 2010</div>
                  <div class="record-isbn">ISBN-13: 978-0545663267, ISBN-10: 0545663261</div>
                  <div class="record-ratings"><ba-rating></ba-rating></div>
                  <div class="record-available">Availability: 32 (of 72)</div>
                  <div class="record-holds">Current Holds: 0</div>
                  <div class="record-desc">
                        Against all odds, Katniss Everdeen has survived the Hunger Games twice. But now that she's made it out of the bloody arena alive, she's still not safe. The Capitol wants revenge ... and President Snow has made it clear that no one else is safe!
                  </div>             
          </div>
          <div class="record-buttons">
                  <button class="btn btn-primary">Request this Item</button>
                  <button class="btn btn-outline-primary">Add to Your List</button>
                  <div class="record-share clearfix">
                        <span class="share-desc"><i class="fa fa-share-alt" aria-hidden="true"></i> Share:</span>                 
                        <ul class="record-social-list">
                              <li><i class="fa fa-facebook-square" aria-hidden="true" mdTooltip="Facebook" mdTooltipPosition="above"></i></li>
                              <li><i class="fa fa-twitter-square" aria-hidden="true" mdTooltip="Twitter" mdTooltipPosition="above"></i></li> 
                              <li><i class="fa fa-linkedin-square" aria-hidden="true" mdTooltip="Linked In" mdTooltipPosition="above"></i></li> 
                              <li><i class="fa fa-google-plus-square" aria-hidden="true" mdTooltip="Google +" mdTooltipPosition="above"></i></li>       
                        </ul>
                  </div>  
            </div>
      </div>
</div>








<!-- Categories - All Devices -->
<div class="container-fluid clearfix">
      <div class="col-12">
            <h5 class="text-center">About This Item</h5>
            <div class="dropdown-container text-center">
                  <a class="record-category-links" href="">More About this Title</a>
                  <a class="record-category-links" href="">Where to Find it</a>
                  <a class="record-category-links" href="">Related Items</a>
                  <a class="record-category-links" href="">Top 5 Reviews</a>
            </div>
            <br /><br />
            <div class="record-group">
                  <h3>More About This Title</h3>
                  <div class="record-content">
                        <h6>Summary</h6>
                        Against all odds, Katniss Everdeen has survived the Hunger Games twice. But now that she's made it out of the bloody arena alive, she's still not safe. The Capitol is angry. The Capitol wants revenge. Who do they think should pay for the unrest? Katniss. And what's worse, President Snow has made it clear that no one else is safe either. Not Katniss's family, not her friends, not the people of District 12. Powerful and haunting, this thrilling final installment of Suzanne Collins's groundbreaking The Hunger Games trilogy promises to be one of the most talked about books of the year. <a href="">(...read more) </a>
                        <h6>Author Notes</h6>
                        Suzanne Collins was born on August 10, 1962. She was born in Hartford, Connecticut and graduated from Indiana University with a double major in Drama and Telecommunications. Collins went on to receive an M.F.A. from New York University in dramatic writing. Since 1991, she has been a writer for children's television shows. She has worked on the staffs of several shows including Clarissa Explains it All, The Mystery Files of Shelby Woo, Little Bear and Oswald. She also co-wrote the Rankin/Bass Christmas special, Santa, Baby! and was the head writer for Scholastic Entertainment's <a href="">(...read more) </a>
                        <h6>Book List Review</h6>
                        *Starred Review* The highly anticipated conclusion to the Hunger Games trilogy does not disappoint. If anything, it may give readers more than they bargained for: in action, in love, and in grief. When the book opens, Katniss has survived her ordeal at the Quarter Quell, and she and her family are safe in District 13. Gale is there as well, but Peeta is being held at the Capitol as President Snow's very special prisoner. Events move quickly, but realization unfolds slowly as Katniss learns that she has been a pawn in more ways than she ever supposed and that her role as the face <a href="">(...read more) </a>
                        <h6>Library Journal Review</h6>
                        In its first week of publication, this third book in Collins's "Hunger" trilogy rocketed to the top of the best-seller lists, proving that teen-reading adults are interested in something other than vampires and boy wizards. For the uninitiated, The Hunger Games (2008), which began the series, posited a world where the United States is no more and a cruel capitol rules over 12 districts that must each offer an annual tribute of two children for a televised fight-to-the-death. In this final volume, a rebel movement goes to war against the capitol. The costs are high, causing the reader <a href="">(...read more) </a>
                        <h6>Publishers Weekly Review</h6>
                        This concluding volume in Collins's Hunger Games trilogy accomplishes a rare feat, the last installment being the best yet, a beautifully orchestrated and intelligent novel that succeeds on every level. At the end of Catching Fire, Katniss had been dramatically rescued from the Quarter Quell games; her fellow tribute, Peeta, has presumably been taken prisoner by the Capitol. Now the rebels in District 13 want Katniss (who again narrates) to be the face of the revolution, a propaganda role she's reluctant to play. One of Collins's many achievements is skillfully showing how effective <a href="">(...read more) </a>
                        <h6>School Library Journal Review</h6>
                        Gr 7 Up-Following her subversive second victory in the Games, this one composed of winners from past years, Katniss has been adopted by rebel factions as their symbol for freedom and becomes the rallying point for the districts in a desperate bid to take down the Capitol and remove President Snow from power. But being the Mockingjay comes with a price as Katniss must come to terms with how much of her own humanity and sanity she can willingly sacrifice for the cause, her friends, and her family. Collins is absolutely ruthless in her depictions of war in all its cruelty, violence, <a href="">(...read more) </a>
                  </div>
            </div>
            <div class="record-group">
                  <h3>Where to Find it</h3>
                  <div class="record-content">
                        <table class="tablesortNhoney" style="width:100%;">
                              <thead>
                              <tr class="location_title">
                                    <th><span>Location</span></th>
                                    <th><span>Call Number</span></th>
                                    <th><span>Status</span></th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                    <td>Hillsboro - Young Adult - Fiction</td>
                                    <td> YA Col     (Book - Teen)</td>
                                    <td>Available </td>
                                    <td><b style="background:#008000"></b></td>
                                    <td><i class="fa fa-mobile fa-2x pointer-clean" title="Text it"></i></td>
                              </tr>
                              <tr>
                                    <td>Kendall - Children's Area - Fiction</td>
                                    <td> YA CO Bk. 3     (Book - Child)</td>
                                    <td>Available </td>
                                    <td><b style="background:#008000"></b></td>
                                    <td><i class="fa fa-mobile fa-2x pointer-clean" title="Text it"></i></td>
                              </tr>
                              <tr>
                                    <td>La Crosse County - Bangor - Teen - Fiction</td>
                                    <td> TEEN Col c.c.5    (Book - Teen)</td>
                                    <td>Available </td>
                                    <td><b style="background:#008000"></b></td>
                                    <td><i class="fa fa-mobile fa-2x pointer-clean" title="Text it"></i></td>
                              </tr>
                              
                              <tr>
                                    <td>La Crosse County - Campbell - Teen - Fiction</td>
                                    <td> TEEN Col c.c.7    (Book - Teen)</td>
                                    <td>Available </td>
                                    <td><b style="background:#008000"></b></td>
                                    <td><i class="fa fa-mobile fa-2x pointer-clean" title="Text it"></i></td>
                              </tr>
                              </tbody>
                        </table>


                  </div>
            </div>
            <div class="record-group">
                  <h3>Top 5 Reviews</h3>
                  <div class="record-content">    
                        <div class="review-group">             
                              <div class="review-by">by Hope</div>
                              <div class="review-ratings"><ba-rating-only></ba-rating-only></div>
                              <div class="review-timestamp">December 24th, 1999</div>
                              <div class="review-desc">I’m never very good at predicting outcomes. Nothing I could’ve predicted would have been quite as good as this. Although I did get close (a very distant "close") on a few things, and I was right in saying that it wouldn’t be walking through a field of flowers and sunshine. </div>
                              <div class="review-link"><a href="">...more...</a></div>
                        </div>
                        <div class="review-group">             
                              <div class="review-by">by Jasmine</div>
                              <div class="review-ratings"><ba-rating-only></ba-rating-only></div>
                              <div class="review-timestamp">January 1st, 2013</div>
                              <div class="review-desc">I’m never very good at predicting outcomes. Nothing I could’ve predicted would have been quite as good as this. Although I did get close (a very distant "close") on a few things, and I was right in saying that it wouldn’t be walking through a field of flowers and sunshine. </div>
                              <div class="review-link"><a href="">...more...</a></div>
                        </div>
                        <div class="review-group">             
                              <div class="review-by">by Divine</div>
                              <div class="review-ratings"><ba-rating-only></ba-rating-only></div>
                              <div class="review-timestamp">Febuary 14th, 2016</div>
                              <div class="review-desc">I’m never very good at predicting outcomes. Nothing I could’ve predicted would have been quite as good as this. Although I did get close (a very distant "close") on a few things, and I was right in saying that it wouldn’t be walking through a field of flowers and sunshine. </div>
                              <div class="review-link"><a href="">...more...</a></div>
                        </div>
                        <div class="review-group">             
                              <div class="review-by">by Lucious Liz</div>
                              <div class="review-ratings"><ba-rating-only></ba-rating-only></div>
                              <div class="review-timestamp">December 4th, 2013</div>
                              <div class="review-desc">I’m never very good at predicting outcomes. Nothing I could’ve predicted would have been quite as good as this. Although I did get close (a very distant "close") on a few things, and I was right in saying that it wouldn’t be walking through a field of flowers and sunshine. </div>
                              <div class="review-link"><a href="">...more...</a></div>
                        </div>
                        <div class="review-group">             
                              <div class="review-by">by Count Dracula</div>
                              <div class="review-ratings"><ba-rating-only></ba-rating-only></div>
                              <div class="review-timestamp">October 31th, 1447</div>
                              <div class="review-desc">I’m never very good at predicting outcomes. Nothing I could’ve predicted would have been quite as good as this. Although I did get close (a very distant "close") on a few things, and I was right in saying that it wouldn’t be walking through a field of flowers and sunshine. </div>
                              <div class="review-link"><a href="">...more...</a></div>
                        </div>
                  </div>
            </div>
      </div>
</div>